.easy-dragdrop-upload {
    border-radius: 3px;
    margin: 0;
    width: 100%;
    display: block;
}

.easy-dragdrop-upload-button--disabled {
    background-color: #eee !important;
    color: #999 !important;
    cursor: not-allowed;
}